<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="{% static 'story8.css' %}">
    <script src="{% static 'story8.js' %}"></script>

    <title> Story 8 </title>
</head>

<body>
    <div class="container">
        <h2>Cari Buku </h2>

        <div>
            <input type="text" id="input" placeholder="Ketik judul buku di sini">
        </div>
        <br>
        <div class="isi">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col" class="align-middle">No</th>
                        <th scope="col" class="align-middle">Cover</th>
                        <th scope="col" class="align-middle">Judul</th>
                        <th scope="col" class="align-middle">Penulis</th>
                        <th scope="col" class="align-middle">Deskripsi</th>
                        <th scope="col" class="align-middle">Penerbit</th>
                    </tr>
                </thead>
                <tbody id="list">
                    
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>
