@import url('https://fonts.googleapis.com/css?family=Roboto');

        * {
        box-sizing: border-box;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        }

        a {
        text-decoration: none;
        color: inherit;
        }

        body {
        width: 40%;
        min-width: 300px;
        max-width: 500px;
        margin: 1.5em auto;
        color: #333;
        }

        h1 {
        font-weight: 400;
        font-size: 2.5em;
        text-align: center;
        margin-top: 5rem;
        }

        ul {
        list-style: none;
        padding: 0;
        }

        ul .inner {
        padding-left: 1em;
        overflow: hidden;
        display: none;
        }

        ul li {
        margin: 0.5em 0;
        }

        ul li a.toggle {
        width: 100%;
        display: block;
        background: rgba(0, 0, 0, 0.78);
        color: #fefefe;
        padding: 0.75em;
        border-radius: 0.15em;
        transition: background 0.3s ease;
        }

        ul li a.toggle:hover {
        background: rgba(0, 0, 0, 0.9);
        }