<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'story7.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"> </script>

    <title> Story 7</title>
    
    </head>

    <body>

    <h2> Track Record</h2>

        <ul class="accordion">
        <li>
            <a class="toggle"> Riwayat pendidikan <button class="up">Naik</button> <button class="down"> Turun </button></a>
            <p class="inner"> 
             1. SDIT Citra Az-Zahra (2007-2013) <br>
             2. SMPI Al-Azhar 4 (2013-2016) <br>
             3. SMAN 78 Jakarta (2016-2019) <br>
             4. Universitas Indonesia (2019-...) </p>
        </li>
        
        <li>
            <a class="toggle"> Aktivitas saat ini <button class="up">Naik</button> <button class="down"> Turun </button></a>
            <p class="inner">
                1. Mahasiswa Fakultas Ilmu Komputer Universitas Indonesia Jurusan Sistem Informasi<br>
                2. Staf divisi bibliografi OSUI Mahawaditra 2020 </p>
        </li>
        
        <li>
            <a class="toggle">Pengalaman organisasi <button class="up">Naik</button> <button class="down"> Turun </button></a>
            <p class="inner">
                1. Staf divisi media Rohis SMAN 78 Jakarta (2017-2018)<br>
                2. Pemain violin SSD SMAN 78 Jakarta (2016-2019)<br>
                3. Pemain violin OSUI Mahawaditra (2020) <br>
                4. Staf divisi bibliografi OSUI Mahawaditra (2020)</p>
        </li>

        <li>
            <a class="toggle"> Prestasi <button class="up">Naik</button> <button class="down"> Turun </button> </a>
            <p class="inner">
                1. Juara 1 lomba musikalisasi puisi tingkat sekolah (2017)
            </p>
        </li>
        </ul>

        <script src="{% static 'story7.js' %}"></script>

    </body>
</html>